body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.topo{
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    background-color: #EC362D;

    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);


}

.conteudo-tela1{
    margin-top: 69px;   
    padding: 77px calc(calc(100vw - 1065px)/2) 30px calc(calc(100vw - 1051px)/2);
}

.criar-quizzes{
    height: 181px;

    border: 1px dashed #D5D5D5;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nao-criou-quizz{
    width: 250px;

    color: #B9B9B9;
    font-size: 20px;
    
    text-align: center;

    margin-bottom: 28px;
}

.criar-quizz{
    width: 141px;
    height: 40px;

    border: 1px dashed #EC362D;
    border-radius: 20px;

    background-color:white;

    color: #EC362D;
    font-size: 21px;
}

.seus-quizzes{

}

.todos-quizzes{
    margin-top: 36px;
}

.titulo-quizzes{
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;

    margin-bottom: 13px;
}

.titulo-quizzes ion-icon{
    fill: #EC362D;
    margin-left: 17px;
    font-size: 32px;
}

.ul-seus-quizzes, .ul-todos-quizzes{
    display: flex;
    flex-wrap: wrap;

}

li{
    margin-bottom: 12px;
    margin-right: 1.0272%;

    position: relative;
}

li:nth-child(3n){
    margin-right: 0;
}

li div{
    border-radius: 5px;
}

.titulo-il-quizzes{
    width: 100%;
    height: 100%;

    position: absolute;
    bottom:0;
    padding: 17px;

    display:flex;
    align-items: flex-end;

    color: white;
    font-size: 19px;

    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.ul-seus-quizzes li img, .ul-todos-quizzes li img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    
}

.conteudo-tela3{
    width: 100%;
    margin-top: 39px;
    padding: 77px calc(calc(100vw - 600px)/2) 30px calc(calc(100vw - 600px)/2);
}

.comeca-pelo-comeco .perguntas, .perguntas, .pergunta-fechada{
    background-color: #FFFFFF;
}

.comeca-pelo-comeco, .criar-perguntas, .escolha-niveis, .quizz-pronto, .previa-quizz{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.primeira-resposta-incorreta, .segunda-resposta-incorreta{
    margin-bottom: 18px;
}

.conteudo-tela3 .texto{
    width: 100%;

    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
}

.conteudo-tela3 .perguntas, .pergunta-fechada{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 24px;

    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.conteudo-tela3 .perguntas span strong{
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;
}

.conteudo-tela3 .perguntas input{
    width: 100%;
    height: 46px;
    margin: 7px 0;
    padding: 0 20px;

    border-radius: 5px;
    border: 1px solid #d1d1d1;

    font-size: 19px;
    font-style: italic;

    background-color: #FFFFFF;

}

input:invalid {
    color: red;
    border: 2px dashed red;
}

.conteudo-tela3 .perguntas input::placeholder, .resposta-nivel textarea::placeholder{
    color: #bababa;
    font-family: 'Roboto', sans-serif;
}

.botao-perguntas{
    width: 368px;
    height: 54px;
    margin-top: 85px;

    background-color: #EC362D;

    border-radius: 15px;
    border: none;

    font-size: 21px;
    color: #FFFFFF;
}


.resposta-nivel textarea{
    width: 100%;
    padding: 14px;

    border-radius: 5px;
    border: 1px solid #d1d1d1;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

    display: none;
}

.previa-quizz{
    width: 500px;
    height: 266px;
}

.previa-quizz img{
    width: 500px;
    height: 266px;

    position: absolute;

    border-radius: 5px;
}

.titulo-previa-quizz{
    width: 100%;
    height: 100%;

    padding: 9px 23px;
    border-radius: 5px;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    font-size: 23px;
    color: #FFFFFF;

    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.botao-finalizado{
    margin-top: 55px;
    width: 220px;
    height: 44px;

    background-color: #EC362D;

    border-radius: 15px;
    border: none;

    font-size: 21px;
    color: #FFFFFF;
}

.botao-voltar-home{
    width: 220px;
    height: 44px;

    border: none;
    background-color: #fafafa;

    font-size: 21px;
    color: #818181;
}

.pergunta-texto{
    margin-bottom: 12px;
    margin-top: 25px;

    font-size: 20px;
}

.pergunta-fechada{
    width: 100%;
    height: 74px;
    padding: 0 17px;

    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.conteudo-tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo-tela2{
    position: relative;
    width: 100%;
    height: 227px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
    margin-top: 69px;
}

.topo-tela2 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.titulo-quizzes-tela2{
    width: 100%;
    height: 100%;

    padding: 0 33px;

    position: absolute;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 39px;

    background: rgba(0,0,0,0.6);
}

.perguntas-quizz{
    width: 759px;
    height: 200px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta-quizz, .resultado-acertos{
    height: 640px;

    padding: 28px 35px 35px 35px;
    margin-top: 42px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.resultado-acertos{
    padding: 18px 18px 22px 18px
}

.resultado-acertos img{
    height: 273px;
    width: 364px;

    display: block;

    margin-right: 21px;
}

.titulo-quizz-tela2{
    width:688px;
    height: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    background-color: blue;
}

.titulo-quizz-tela2 span, .titulo-acertos span{
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;

    padding: 0;

    text-align: center;   
}

.alternativas-respostas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.alternativa{
    margin-bottom: 19px;
}

.alternativa:nth-child(n+3){
    margin-bottom: 0;
}

.alternativa img{
    height: 175px;
    width: 330px;

    display: block;

    margin-bottom: 8px;
}

.resposta{
    font-size: 16px;
    font-weight: 700;
}

.imagemEDescricaoAcerto{
    display:flex
}

.titulo-acertos{
    width:727px;
    height: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 18px;

    background-color: blue;
}

.descricao-acerto{
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    color: #484848;
}

.reiniciarQuizz, .voltarHome{
    width: 260px;
    height: 52px;
    display: block;

    border: 0 none;
    border-radius: 15px;
    background: #EC362D;

    color: #FFF5F4;
    font-size: 21px;

    margin-top: 57px;
}

.voltarHome{
    margin-top: 8px;
    background: #fafafa;

    color: #818181;
    margin-bottom: 80px;
}

.escondido{
    display: none;
}

.esbranquicado{
    opacity: 0.5
}

.correto{
    color: #009C22;
}

.errado{
    color: #FF0B0B;
}

@media(max-width: 1100px){
    .conteudo-tela1{
        padding: 31px 0;
        width: 340px;
        margin: 69px auto 0 auto;
    }

    .titulo-quizzes{
        justify-content: space-between;
    }

    .todos-quizzes{
        margin-top: 38px;
    }

    .ul-seus-quizzes, .ul-todos-quizzes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seus-quizzes{
        width: 340px;
    }

    .topo-tela2{
        height: 142px; 
    }

    .topo-tela2 img{
        height: 142px; 
    }

    .titulo-quizzes-tela2{
       font-size: 19px;
    }

    .perguntas-quizz{
        width: 100%;
        height: 89px;
    
        padding: 0;
    }

    .pergunta-quizz, .resultado-acertos{
        width: 375px;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding:18px;
        margin: 24px 0 0 0;
    }

    .titulo-quizz-tela2{
        width: 100%;
        height: 89px;
    }

    .titulo-quizz-tela2 span{
        font-size: 19px;
        padding: 0 4.7%;
    }

    .alternativa img{
        height: 113px;
        width: 163px;
    }

    .alternativas-respostas{
        width: 100%;
    }

    .resultado-acertos img{
        height: 255px;
        width: 340px;
    
        display: block;
    
        margin: 0 0 9px 0;
    }

    .imagemEDescricaoAcerto{
        display:initial
    }

    .titulo-acertos{
        width:340px;
        height: 99px;

        margin-bottom: 9px;
    
    }

    .descricao-acerto{
        font-size: 17px;
        line-height: 20px;
    }

    .conteudo-tela3{
        padding: 77px 0;
    }

    .botao-perguntas{
        width: 324px;
    }

    .previa-quizz, .previa-quizz img{
        width: 340px;
        height: 181px;
    }

    .resposta-nivel input:nth-child(4){
        display: none;
    }

    .resposta-nivel textarea{
        display: block;
    }

}