body{
    font-family: 'Roboto', sans-serif;
}

.topo{
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    background-color: #EC362D;

    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);


}

.conteudo-tela1{
    margin-top: 69px;   
    padding: 77px calc(calc(100vw - 1051px)/2) 30px calc(calc(100vw - 1051px)/2);
}

.criar-quizzes{
    height: 181px;

    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.seus-quizzes,.todos-quizzes {

}

.titulo-quizzes{
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 13px;
}

.ul-seus-quizzes, .ul-todos-quizzes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    border-radius: 5px;
    margin-bottom: 12px;
}

.ul-seus-quizzes li img, .ul-todos-quizzes li img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.escondido{
    display:none;
}

@media(max-width: 1100px){
    .conteudo-tela1{
        padding: 31px 18px;
    }
}